@model AcademicScheduleVM
<div class="card animate fadeUp">
    <div class="card-move-up waves-effect waves-block waves-light">
        <div class="move-up white darken-1" style="min-height:500px;">
            <form asp-controller="AcademicSchedule" asp-action="AcademicScheduleSearchPost" id="AcademicScheduleForm"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#content">
                <div class="row">
                    <div class="col s6">
                        <div class="editor-label">
                            @Html.LabelFor(i => i.StartDateSearch)
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().DatePickerFor(i=>i.StartDateSearch)
                        .Value(DateTime.Now.AddDays(-30)).Format("{0:dd.MM.yyyy}").Events(i => i.Change("dateChange"))
                .HtmlAttributes(new { style = "width: 100%" })
                .DateInput()
            )
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="editor-label">
                            @Html.LabelFor(i => i.EndDateSearch)
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().DatePickerFor(i=>i.EndDateSearch)
                            .Value(DateTime.Now.AddDays(1)).Format("{0:dd.MM.yyyy}").Events(i => i.Change("enddateChange"))
                .HtmlAttributes(new { style = "width: 100%" })
                .DateInput()
            )
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom:20px;">
                </div>
                <div class="row" style="padding-bottom:15px;">
                    <div class="col s8">

                    </div>
                    <div class="col s2">
                        <button class="buttonConfirm" type="submit">
                            @Localizer[LocalizationCaptions.Filter].Value
                        </button>
                    </div>
                    <div class="col s2">
                        <button class="buttonClear" type="reset" id="resetButton">
                            @Localizer[LocalizationCaptions.Clear].Value
                        </button>
                    </div>
                </div>
                @Html.HiddenFor(i => i.StartDateSearchStr)
                @Html.HiddenFor(i => i.EndDateSearchStr)
            </form>
            <div id="content">


            </div>


        </div>
    </div>
</div>
<script>
    function addAcademicSchedule(e) {
        $('#popupWindowDiv').load('/AcademicScheduleAdd/' + e);
        $("#windowPopUp").data("kendoWindow").open();
        $("#windowPopUp").data("kendoWindow").setOptions({
               title: "@(Html.Raw( Localizer[LocalizationCaptions.AddAcademicSchedule].Value))"
        });
    }
    function updateAcademicSchedule(e) {
        $('#popupWindowDiv').load('/AcademicScheduleUpdate/' + e);
        $("#windowPopUp").data("kendoWindow").open();
        $("#windowPopUp").data("kendoWindow").setOptions({
               title: "@(Html.Raw( Localizer[LocalizationCaptions.UpdateAcademicSchedule].Value))"
        });
    }

    function deleteAcademicSchedule(e) {
        var result = confirm("@(Html.Raw( Localizer[LocalizationCaptions.ConfirmDelete].Value))");
        if (result) {
            $.ajax({
                type: "POST",
                url: "/AcademicSchedule/EditingAcademicSchedule_Destroy",
                data: {
                    'Id': e,
                },
                failure: function (response) {
                },
                error: function (response) {
                },
                success: function (response) {
                    $("#AcademicScheduleForm").submit();
                }
            });
        }

    }



    function deleteAcademicScheduleLang(e) {
        var result = confirm("@(Html.Raw( Localizer[LocalizationCaptions.ConfirmDelete].Value))");
        if (result) {
            $.ajax({
                type: "POST",
                url: "/AcademicSchedule/EditingAcademicScheduleLang_Destroy",
                data: {
                    'Id': e,
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    $("#AcademicScheduleForm").submit();
                }
            });
        }
    }

    function updateAcademicScheduleLang(e) {
        $('#popupWindowDiv').load('/AcademicScheduleLangUpdate/' + e);
        $("#windowPopUp").data("kendoWindow").open();
        $("#windowPopUp").data("kendoWindow").setOptions({
               title: "@(Html.Raw( Localizer[LocalizationCaptions.UpdateAcademicSchedule].Value))"
        });
    }

    function ajaxSuccess() {
        $('#popupWindowDiv').html("");
        $("#windowPopUp").data("kendoWindow").close();
        $("#grid").data("kendoGrid").dataSource.read();
    }

    $("#resetButton").click(function () {
        $('#AcademicScheduleForm').trigger("reset");
        $("#AcademicScheduleForm").submit();
    });
    $(document).ready(function () {
        $('#StartDateSearchStr').val($('#StartDateSearch').val()).trigger("change");
        $('#EndDateSearchStr').val($('#EndDateSearch').val()).trigger("change");
        $("#AcademicScheduleForm").submit();
    });

    function dateChange(e) {
        $('#StartDateSearchStr').val(e.sender._oldText).trigger("change");
    }
    function enddateChange(e) {
        $('#EndDateSearchStr').val(e.sender._oldText).trigger("change");
    }
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }

    function sync_handler(e) {
        this.read();
    }

</script>
