@model AnnouncementVM
<div class="card animate fadeUp">
    <div class="card-move-up waves-effect waves-block waves-light">
        <div class="move-up white darken-1" style="min-height:500px;">
            <form asp-controller="Announcement" asp-action="AnnouncementSearchPost" id="AnnouncementForm"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#content">
                <div class="row">
                    <div class="col s4">
                        <div class="editor-label">
                            @Html.LabelFor(i => i.IsReleaseSearch)
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().DropDownListFor(p=>p.IsReleaseSearch)
                                    .HtmlAttributes(new { style = "width:100%" })
                                    .OptionLabel(@Localizer[LocalizationCaptions.IsRelease].Value)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Get_YesNoEnumList", "Definitions");
                                        });
                                    }))
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="editor-label">
                            @Html.LabelFor(i => i.ReleaseDateSearch)
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().DatePickerFor(i=>i.ReleaseDateSearch).Culture("tr-TR")
                .Value(DateTime.Now).Format("{0:dd.MM.yyyy}")
                .HtmlAttributes(new { style = "width: 100%" })
                .DateInput()
            )
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="editor-label">
                            @Html.LabelFor(p => p.AnnouncementTypeIdSearch)
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().DropDownListFor(p=>p.AnnouncementTypeIdSearch)
                                    .HtmlAttributes(new { style = "width:100%" })
                                    .OptionLabel(@Localizer[LocalizationCaptions.SelectAnnoucement].Value)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Get_AnnouncementList", "Definitions");
                                        });
                                    }))
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom:20px;">
                </div>
                <div class="row">
                    <div class="col s8">

                    </div>
                    <div class="col s2">
                        <button class="buttonConfirm" type="submit">
                            @Localizer[LocalizationCaptions.Filter].Value
                        </button>
                    </div>
                    <div class="col s2">
                        <button class="buttonClear" type="reset" id="resetButton">
                            @Localizer[LocalizationCaptions.Clear].Value
                        </button>
                    </div>
                </div>
            </form>
            <div id="content">


            </div>


        </div>
    </div>
</div>
<script>
    function addAnnouncement(e) {
        $('#popupWindowDiv').load('/AnnouncementAdd/' + e);
        $("#windowPopUp").data("kendoWindow").open();
        $("#windowPopUp").data("kendoWindow").setOptions({
            title: "Duyuru Düzenle"
        });
    }
    function updateAnnouncement(e) {
        $('#popupWindowDiv').load('/AnnouncementUpdate/'+e);
        $("#windowPopUp").data("kendoWindow").open();
        $("#windowPopUp").data("kendoWindow").setOptions({
            title: "Duyuru Düzenle"
        });
    }

    function deleteAnnouncement(e) {
        debugger;
        $.ajax({
            type: "POST",
            url: "/Announcement/EditingAnnouncement_Destroy",
            data: {
                'Id': e,
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        $("#AnnouncementForm").submit();
    }

    function updateAnnouncementLang(e) {
        $('#popupWindowDiv').load('/AnnouncementLangUpdate/' + e);
        $("#windowPopUp").data("kendoWindow").open();
        $("#windowPopUp").data("kendoWindow").setOptions({
            title: "Duyuru Dil Düzenle"
        });
    }

    function ajaxSuccess() {
        $('#popupWindowDiv').html("");
        $("#windowPopUp").data("kendoWindow").close();
        $("#grid").data("kendoGrid").dataSource.read();
    }

    $("#resetButton").click(function () {
        $('#AnnouncementForm').trigger("reset");
        $("#AnnouncementForm").submit();
    });
    $(document).ready(function () {
        $("#AnnouncementForm").submit();
    });
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }

    function sync_handler(e) {
        this.read();
    }

</script>
