@model ContentVM
<div class="card animate fadeUp">
    <div class="card-move-up waves-effect waves-block waves-light">
        <div class="move-up white darken-1" style="min-height:500px;">
            <form asp-controller="Content" asp-action="ContentSearchPost" id="ContentForm"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#content">
                <div class="row">
                    <div class="col s4">
                        <div class="editor-label">
                            @Html.LabelFor(i => i.IsReleaseSearch)
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().DropDownListFor(p=>p.IsReleaseSearch)
                                    .HtmlAttributes(new { style = "width:100%" })
                                    .OptionLabel(@Localizer[LocalizationCaptions.IsRelease].Value)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Get_YesNoEnumList", "Definitions");
                                        });
                                    }))
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="editor-label">
                            @Html.LabelFor(i => i.ReleaseDateSearch)
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().DatePickerFor(i=>i.ReleaseDateSearch)
                                .Events(i => i.Change("dateChange")).Value(DateTime.Now).Format("{0:dd.MM.yyyy}")
                .HtmlAttributes(new { style = "width: 100%" })
                .DateInput()
            )
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="editor-label">
                            @Html.LabelFor(i => i.EndDateSearch)
                        </div>
                        <div class="editor-field">
                            @(Html.Kendo().DatePickerFor(i=>i.EndDateSearch)
                                .Events(i => i.Change("enddateChange")).Value(DateTime.Now.AddDays(1)).Format("{0:dd.MM.yyyy}")
                .HtmlAttributes(new { style = "width: 100%" })
                .DateInput()
            )
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-bottom:20px;">
                </div>
                <div class="row" style="padding-bottom:15px;">
                    <div class="col s8">

                    </div>
                    <div class="col s2">
                        <button class="buttonConfirm" type="submit">
                            @Localizer[LocalizationCaptions.Filter].Value
                        </button>
                    </div>
                    <div class="col s2">
                        <button class="buttonClear" type="reset" id="resetButton">
                            @Localizer[LocalizationCaptions.Clear].Value
                        </button>
                    </div>
                </div>
                @Html.HiddenFor(i => i.ReleaseDateSearchStr)
                @Html.HiddenFor(i => i.EndDateSearchStr)

            </form>
            <div id="content">


            </div>


        </div>
    </div>
</div>
<script>

    function createContent() {
        $('#popupWindowDiv').load('/CreateContent');
        $("#windowPopUp").data("kendoWindow").open();
        $("#windowPopUp").data("kendoWindow").setOptions({
               title: "@(Html.Raw( Localizer[LocalizationCaptions.AddContent].Value))"
        });
    }
    function addContent(e) {
        $('#popupWindowDiv').load('/ContentAdd/' + e);
        $("#windowPopUp").data("kendoWindow").open();
        $("#windowPopUp").data("kendoWindow").setOptions({
               title: "@(Html.Raw( Localizer[LocalizationCaptions.AddContent].Value))"
        });
    }
    function updateContent(e) {
        $('#popupWindowDiv').load('/ContentUpdate/'+e);
        $("#windowPopUp").data("kendoWindow").open();
        $("#windowPopUp").data("kendoWindow").setOptions({
               title: "@(Html.Raw( Localizer[LocalizationCaptions.UpdateContent].Value))"
        });
    }
    function dateChange(e) {
        $('#ReleaseDateSearchStr').val(e.sender._oldText).trigger("change");
    }

    function enddateChange(e) {
        $('#EndDateSearchStr').val(e.sender._oldText).trigger("change");
    }

    function deleteContent(e) {
        debugger;
        var result = confirm("@(Html.Raw( Localizer[LocalizationCaptions.ConfirmDelete].Value))");
        if (result) {
            $.ajax({
                type: "POST",
                url: "/Content/EditingContent_Destroy",
                data: {
                    'Id': e,
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    $("#ContentForm").submit();
                }
            });
        }
    }

    function deleteContentLang(e) {
        var result = confirm("@(Html.Raw( Localizer[LocalizationCaptions.ConfirmDelete].Value))");
        if (result) {
            $.ajax({
                type: "POST",
                url: "/Content/EditingContentLang_Destroy",
                data: {
                    'Id': e,
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                },
                success: function (response) {
                    $("#ContentForm").submit();
                }
            });
        }
    }

    function updateContentLang(e) {
        $('#popupWindowDiv').load('/ContentLangUpdate/' + e);
        $("#windowPopUp").data("kendoWindow").open();
        $("#windowPopUp").data("kendoWindow").setOptions({
               title: "@(Html.Raw( Localizer[LocalizationCaptions.UpdateContent].Value))"
        });
    }

    function ajaxSuccess() {
        $('#popupWindowDiv').html("");
        $("#windowPopUp").data("kendoWindow").close();
        $("#grid").data("kendoGrid").dataSource.read();
    }

    $("#resetButton").click(function () {
        $('#ContentForm').trigger("reset");
        $("#ContentForm").submit();
    });
    $(document).ready(function () {
        $('#EndDateSearchStr').val($('#EndDateSeacrh').val()).trigger("change");
        $('#ReleaseDateSearchStr').val($('#ReleaseDateSeacrh').val()).trigger("change");
        $("#ContentForm").submit();
    });
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }

    function sync_handler(e) {
        this.read();
    }

</script>
