@{
    Layout = "/Views/Shared/_LayoutGiris.cshtml";
}
@model ChangePasswordVM
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="/ChangePassword" id="changePassForm" method="post" class="box">
                <div class="col s6" style="text-align:left">
                    <a href="/login" class="button">@Localizer[LocalizationCaptions.Back].Value</a>
                </div>
                @Html.TextBoxFor(i => i.Email, new { placeholder = @Localizer[LocalizationCaptions.Email].Value, @class = "form-input" })
                @Html.ValidationMessageFor(i => i.Email)
                @Html.TextBoxFor(i => i.Password, new { placeholder = @Localizer[LocalizationCaptions.Password].Value, @class = "form-input" })
                @Html.ValidationMessageFor(i => i.Email)
                @Html.TextBoxFor(i => i.NewPassword, new { placeholder = @Localizer[LocalizationCaptions.PasswordConfirm].Value, @class = "form-input" })
                @Html.ValidationMessageFor(i => i.NewPassword)
                @Html.TextBoxFor(i => i.RepeatNewPassword, new { placeholder = @Localizer[LocalizationCaptions.PasswordConfirm].Value, @class = "form-input" })
                @Html.ValidationMessageFor(i => i.RepeatNewPassword)
                <input type="submit" name="" value="@Localizer[LocalizationCaptions.ChangePassword].Value">
            </form>
        </div>
    </div>
</div>
