@{
    Layout = "/Views/Shared/_LayoutGiris.cshtml";
}
@model UserVM
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="/ForgotPassword" id="forgotPassForm" method="post" class="box">
                <div class="col s6" style="text-align:left">
                    <a href="/login" class="button">@Localizer[LocalizationCaptions.Back].Value</a>
                </div>
                @Html.TextBoxFor(i => i.Email, new { placeholder = @Localizer[LocalizationCaptions.Email].Value, @class = "form-input" })
                @Html.ValidationMessageFor(i => i.Email)
                <input type="submit" name="" value="@Localizer[LocalizationCaptions.SendVerificationCode].Value">
            </form>
        </div>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                var message = '@ViewBag.Message';
                toastr.info(message);
            };
    </script>
}

