@model VideoGalleryLangVM

<script>
    $(function () {
        $("form").kendoValidator();
        $("#buttonCancel").click(function () {
            $("#windowPopUp").data("kendoWindow").close();
        });
    });

    function completed() {
        $("#windowPopUp").data("kendoWindow").close();
        $("#grid").data("kendoGrid").dataSource.read();
    }
</script>
<form asp-controller="VideoGallery" asp-action="VideoGalleryLang_Create" id="VideoGalleryLangUpdateForm"
      data-ajax="true"
      data-ajax-complete="completed"
      data-ajax-method="POST">
    <div class="row" style="min-width:750px;">
        <div class="col s12">
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.LanguageId)
                </div>
                <div class="editor-field">
                    @(Html.Kendo().DropDownListFor(p=>p.LanguageId)
                                    .HtmlAttributes(new { style = "width:100%" })
                                    .OptionLabel(@Localizer[LocalizationCaptions.SelectLanguage].Value)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Get_LanguageList", "VideoGallery", new { videoGalleryId = Model.VideoGalleryId });
                                        });
                                    }))
                </div>
                <div class="editor-label">
                    @Html.LabelFor(i => i.Title)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(i => i.Title, new { @class = "k-textbox", style = "width:100%" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(i => i.Url)
                </div>
                <div class="editor-field" style="padding-bottom:15px">
                    @Html.TextBoxFor(i => i.Url, new { @class = "k-textbox", style = "width:100%" })

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <button class="buttonClear" id="buttonCancel" type="button">
                @Localizer[LocalizationCaptions.Cancel].Value
            </button>
        </div>
        <div class="col s6">
            <button class="buttonConfirm" type="submit">
                @Localizer[LocalizationCaptions.Save].Value
            </button>
        </div>
    </div>
    @Html.HiddenFor(i => i.VideoGalleryId)
</form>


