@model AnnouncementLangVM

<script>
    $(function () {
        $("form").kendoValidator();
        $("#buttonCancel").click(function () {
            $("#windowPopUp").data("kendoWindow").close();
        });
    });

    function completed() {
        $("#windowPopUp").data("kendoWindow").close();
        $("#grid").data("kendoGrid").dataSource.read();
    }
</script>
<form asp-controller="Announcement" asp-action="EditingAnnouncementLang_Update" id="AnnouncementLangUpdateForm"
      data-ajax="true"
      data-ajax-complete="completed"
      data-ajax-method="POST">
    <div class="row" style="min-width:750px;">
        <div class="col s12">
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.LanguageId)
                </div>
                <div class="editor-field">
                    @(Html.Kendo().DropDownListFor(p=>p.LanguageId)
                                    .HtmlAttributes(new { style = "width:100%" })
                                    .OptionLabel(@Localizer[LocalizationCaptions.SelectLanguage].Value)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Get_LanguageListUpdate", "Announcement", new { announcementId = Model.AnnouncementId,announcementLangId = Model.Id });
                                        });
                                    }))
                </div>
                <div class="editor-label">
                    @Html.LabelFor(i => i.Title)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(i => i.Title, new { @class = "k-textbox", style = "width:100%" })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(i => i.Content)
                </div>
                <div class="editor-field" style="padding-bottom:15px">
                    @(Html.Kendo().EditorFor(p => p.Content)
          .HtmlAttributes(new { style = "width: 100%; height:500px", aria_label = "editor" })
            .Tools(tools => tools
            .Clear()
            .Bold().Italic().Underline()
            .JustifyLeft().JustifyCenter().JustifyRight()
            .InsertUnorderedList().InsertOrderedList()
            .Outdent().Indent()
            .CreateLink().Unlink()
            .InsertImage()
            .TableEditing()
            .FontName()
            .FontSize()
            .ForeColor().BackColor()
            )
            .ImageBrowser(imageBrowser => imageBrowser
            .Image("~/shared/UserFiles/Images/{0}")
            .Read("Read", "ImageBrowser")
            .Create("Create", "ImageBrowser")
            .Destroy("Destroy", "ImageBrowser")
            .Upload("Upload", "ImageBrowser")
            )
         )
                </div>
                <div class="editor-label">
                    @Html.LabelFor(i => i.ImageForm)
                </div>
                <div class="editor-field">
                    <div class="col s12" style="padding:0">
                        @(Html.Kendo().Upload()
                    .Name("ImageForm")
                    .Multiple(false)
                    .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" ,"tiff" }))
                    .Validation(validation => validation.MaxFileSize(3145728))
                    )
                    </div>
                    <div class="col s12" style="padding:0;padding-bottom: 15px;">
                        @if (Model.ImageForm != null)
                        {
                            <ul id="existing-files" class="k-upload-files k-reset">
                                <li class="k-file" data-att-id="@Model.ImageForm.Name">
                                    <span class="k-filename" title="@Model.ImageForm.Name">@Model.ImageForm.Name</span>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
                <div class="editor-label">
                    @Html.LabelFor(i => i.AnnouncementFileForm)
                </div>
                <div class="editor-field">
                    <div class="col s12" style="padding:0">
                        @(Html.Kendo().Upload()
                    .Name("AnnouncementFileForm")
                    .Multiple(true)
                    .Validation(validation => validation.AllowedExtensions(new string[] { ".pdf", "docx", "xlsx" }))
                    .Validation(validation => validation.MaxFileSize(3145728))
                    )
                    </div>
                    <div class="col s12" style="padding:0;padding-bottom: 15px;">
                        @if (Model.AnnouncementFileForm != null && Model.AnnouncementFileForm.Count > 0)
                        {
                            <ul id="existing-files" class="k-upload-files k-reset">
                                @foreach (var file in Model.AnnouncementFileForm)
                                {
                                    <li data-att-id="@file.Name">
                                        <span class="k-filename" title="@file.Name">@file.Name</span>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <button class="buttonClear" id="buttonCancel" type="button">
                @Localizer[LocalizationCaptions.Cancel].Value

            </button>
        </div>
        <div class="col s6">
            <button class="buttonConfirm" type="submit">
                @Localizer[LocalizationCaptions.Save].Value
            </button>
        </div>
    </div>
    @Html.HiddenFor(i => i.Id)
</form>


